/* BEGIN: Prehaff Layout */

body {
    font-family: "Roboto", sans-serif !important;
    overflow: hidden;
    height: auto!important;
    -webkit-overflow-scrolling: touch;
}

.prehaff-top-header {
    background-color: #f00e0f;
    min-height: 95px;
    color: #5e90af;
    border-bottom: 1px solid #de072a;
}

.prehaff-top-header .nm-header-logo {
    /* margin-top: 10px;
    margin-bottom: 10px; */
}

.prehaff-top-header .prehaff-logo {
    width: 90%;
    height: auto;
}

ul.prehaff-menu-custom {
    margin-top: 22.5px;
    display: inline-block;
}

.prehaff-top-header ul.prehaff-menu-custom li {
    float: left;
    padding: 15px 30px;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
}

.prehaff-top-header ul.prehaff-menu-custom li a {
    color: #fff;
    font-size: 13px;
}

.prehaff-top-header ul.prehaff-menu-custom li a:hover {
    color: #ff6346;
}

.touch.header-fixed .nm-header,
.has-top-bar.header-fixed .nm-header {
    padding: 0;
}

.nm-header-inner {
    background-color: #f00e0f;
}

#nm-main-menu-ul a {
    font-weight: bold;
}

#nm-main-menu-ul a:hover {
    color: #b31112 !important;
}

.nm-menu ul.sub-menu {
    background: #fff !important;
    border-radius: 0px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.24);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.24);
    -webkit-transition: opacity 0.3s linear 0s;
    transition: opacity 0.3s linear 0s;
}

.nm-menu ul.sub-menu li a {
    color: #000 !important;
    font-weight: 400 !important;
    text-transform: none !important;
}


/* END: Prehaff Layout */

.prehaff.page-detail {
    background: #eee;
    padding-top: 50px;
    padding-bottom: 50px;
    line-height: 23px;
}

.prehaff.page-detail p {
    line-height: 23px;
}

.prehaff.page-detail .nm_column {
    background: #fff;
}

.prehaff.page-detail .nm-row-boxed {
    background: #fff;
    padding-right: 0px;
    padding-left: 0px;
}

.prehaff.page-detail .title-wrapper .nm_column {
    border-bottom: 1px solid #cacaca;
}

.prehaff.page-detail .col-sm-9.nm_column {
    border-right: 1px solid #cacaca;
}

.prehaff.page-detail .title-wrapper .entry-title {
    float: left;
    margin: 0;
    margin-right: 10px;
    font-size: 24px;
    line-height: 48px;
}

.prehaff.page-detail .title-wrapper .kk-star-ratings {
    margin: 0px;
    width: auto;
    float: none;
    line-height: 48px;
}

.prehaff.page-detail .title-wrapper .kk-star-ratings .kksr-stars {
    float: left;
    margin-top: 19px;
}

.prehaff.page-detail .title-wrapper .kk-star-ratings .kksr-legend {
    float: left;
    margin-top: 15px;
}

.prehaff.page-detail .title-wrapper br {
    display: none;
}

.prehaff.page-detail .title-wrapper .wpb_text_column {
    height: auto;
}

.prehaff.page-detail .title-wrapper .wpb_wrapper:after {
    content: ".";
    visibility: hidden;
    display: block;
    clear: both;
    height: 0px;
}

.prehaff .prehaff-sidebar-block {
    border: 2px solid #cacaca;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 0px;
}

.prehaff .prehaff-block {
    position: relative;
}

.prehaff .prehaff-sidebar-block h4,
.prehaff .prehaff-sidebar-block h3 {
    position: relative;
    display: inline-block;
    padding-bottom: 20px;
    font-weight: 600;
    width: 100%;
    margin-bottom: 0px;
    font-size: 18px;
    text-transform: uppercase;
}

.prehaff .prehaff-sidebar-block h4:after,
.prehaff .prehaff-sidebar-block h3:after {
    content: "";
    position: absolute;
    bottom: 15px;
    left: 0%;
    display: inline-block;
    width: 40%;
    border-bottom: #f00e0f solid 1px;
}

.prehaff .sidebar_stores .detail-address-item {
    padding-bottom: 10px;
    padding-top: 10px;
    border-bottom: 1px solid #cacaca;
    font-size: 13px;
}

.prehaff .sidebar_stores .detail-address-item:last-child {
    border-bottom: 0px;
    padding-bottom: 0px;
}

.prehaff .sidebar_stores .detail-address-item .name {
    margin-bottom: 0px;
    font-weight: 600;
    color: #000;
}

.prehaff .sidebar_stores .detail-address-item .hotline {
    margin-bottom: 0px;
    font-weight: 600;
}

.prehaff .sidebar_stores .detail-address-item .hotline a {
    color: #d9021b;
}

.prehaff .prehaff-sidebar-block .products li {
    border: 0px;
}


/* CSS reviews & ratings */

.prehaff .prehaff-block #reviews {
    max-width: 100%;
    margin: 0;
}

.prehaff #review_form_wrapper {
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid #cacaca;
    margin-bottom: 20px;
}

.prehaff #review_form_wrapper .comment-respond h3 {
    padding-bottom: 5px;
    border-bottom: 1px solid #cacaca;
    margin-bottom: 10px;
}

.prehaff #review_form p {
    margin-bottom: 0px;
}

.prehaff #review_form .comment-form p input#submit {
    display: block;
    float: right;
    height: 30px;
    line-height: 30px;
    margin: 5px 0;
    padding: 0 25px;
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    border: 1px solid #288ad6;
    border-radius: 4px;
    background: #288ad6;
}

.prehaff #comments ul.commentlist li {
    list-style-type: none;
    padding: 10px;
    border: 1px solid #cacaca;
    margin-bottom: 15px;
    border-radius: 5px;
}

.prehaff #comments strong {
    color: #000;
    font-weight: 600;
}

.prehaff #comments p.meta {
    margin-bottom: 15px !important;
}

.prehaff #comments .comment-text {
    position: relative;
}

.prehaff #comments .star-rating span:before {
    color: rgb(255, 174, 0);
}

.prehaff .btn {
    display: block;
    font-weight: 600;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 10px;
    font-size: 14px;
    line-height: 20px;
    border-radius: 5px;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s;
    white-space: normal;
}

.prehaff .btn.btn-full {
    width: 100%;
}

.prehaff .btn.btn-primary {
    color: #fff;
    border: 1px solid #288ad6;
    background: #288ad6;
}

.prehaff .btn.btn-danger {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}

.prehaff .btn.btn-light-blue {
    color: #fff;
    background-color: #00c1cf;
    border-color: #00c1cf;
}

.prehaff .btn span {
    width: 100%;
    display: block;
    font-size: 10px;
    font-weight: 400;
}

.prehaff .btn span.main-line {
    font-size: 18px;
    font-weight: 600;
}

.prehaff .btn.btn-small {
    padding: 8px;
    font-size: 14px;
}

.prehaff-footer-item-title {
    color: #f00e0f;
    font-family: arial;
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 10px;
}

p.text-footer {
    color: #2d2d2d;
    font-size: 13px;
}

.time-probation-title {
    color: #2d2d2d;
    font-weight: bold;
    font-size: 13px;
}

.time-probation {
    font-size: 13px;
    color: #2d2d2d;
}

#nm-footer .logo {
    width: 270px;
    height: 100px;
}

#nm-footer .logo img {
    width: 100%;
}

.sgsvn-address span,
.sgsvn-phone-number span,
.sgsvn-email span,
.company-info span {
    color: #949595;
    font-weight: 400;
    font-size: 13px;
}

.mr-5 {
    margin-right: 5px;
}

.pt-50 {
    padding-top: 50px;
}

.prehaff-slider-wrap {
    position: relative;
}

.prehaff-slider-wrap .owl-theme .owl-nav.disabled+.owl-dots {
    position: absolute;
    left: 50%;
    bottom: -35px;
    transform: translateX(-50%);
}

.slider-nav .nav-btn {
    text-decoration: none;
    display: inline-block;
    padding: 2px 12px;
}

.slider-nav a.nav-btn:hover {
    background-color: #ddd;
    color: black;
}

.slider-nav .previous {
    background-color: transparent;
    color: #fafafa;
    position: absolute;
    top: 50%;
    left: 10px;
    z-index: 1;
    transform: translate(0, -50%);
}

.slider-nav .next {
    background-color: transparent;
    color: #fafafa;
    position: absolute;
    top: 50%;
    right: 10px;
    z-index: 1;
    transform: translate(0, -50%);
}

.slider-nav .round {
    border-radius: 50%;
    border: 2px solid #ccc;
    font-weight: 600;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}

.slider-nav .round:hover {
    border-color: #808080;
    color: black;
}

.page-subheading {
    text-align: center;
    display: inline-block;
    margin: 0 auto;
    width: 100%;
    font-size: 24px;
    padding: 0 0 15px;
    border-bottom: 1px solid #eaeaea;
    position: relative;
    color: #49860d;
    font-weight: 500;
}

.page-subheading:before {
    position: absolute;
    content: "";
    height: 2px;
    background: #f7082f;
    width: 200px;
    bottom: -1px;
    right: 0;
    margin: 0 auto;
    left: 0;
}

.navaccessories {
    display: block;
    overflow: hidden;
    padding: 10px 0 0;
    width: 100%;
    background: #fff;
    margin: 0;
    color: #333;
}

.navaccessories a {
    float: left;
    overflow: hidden;
    width: 12.5%;
    text-align: center;
    height: 90px;
    margin-bottom: 5px;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

.navaccessories div {
    display: block;
    width: 50px;
    height: 50px;
    margin: auto;
    background: #f3f3f3;
    border-radius: 30px;
}

.navaccessories h3 {
    display: block;
    overflow: hidden;
    line-height: 1.3em;
    font-size: 12px !important;
    font: 14px/18px Arial, Helvetica, sans-serif;
    color: #333;
    padding: 5px 0;
    outline: none;
    margin: 0;
}

.navaccessories img {
    width: 32px;
    height: 32px;
    margin-top: 8px;
    margin-left: 5px;
    margin-right: 5px;
}

.why-choose-us h2.title,
.list-post h2.title,
#service-section h2.title {
    color: #fb3333;
    position: relative;
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
    padding: 10px 0 5px;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
}

.why-choose-us .stars-line,
.list-post .stars-line,
#service-section .stars-line {
    background: url("../images/star.png") no-repeat;
    width: 220px;
    height: 22px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.why-choose-us .choose-sgs-left {
    text-align: right;
}

.why-choose-us .box-choose-right,
.why-choose-us .box-choose-left {
    padding: 20px 0;
}

.why-choose-us .image-left-content {
    float: right;
}

.why-choose-us .image-right-content {
    float: left;
}

.why-choose-us .experence {
    display: inline-block;
}

.why-choose-us .left-content {
    margin-right: 15px;
}

.why-choose-us .right-content {
    margin-left: 15px;
}

.why-choose-us .title-left-content {
    text-transform: uppercase;
    color: #42455b;
    font-size: 18px;
    font-weight: bold;
    margin: 0;
}

.why-choose-us p {
    color: #3d3d3d;
    font-family: "Roboto", sans-serif;
    font-size: 13px;
}

.prehaff-copyright {
    background: #e3e3e3;
    padding: 20px 0;
    color: #fff;
    font-size: 15px;
    border-top: 1px solid #f00e0f;
}

.prehaff-copyright span {
    text-align: left;
    line-height: 20px;
    color: #000;
    font-size: 13px;
    font-weight: 400;
}

.nm-shop-search-inner.prehaff-search polygon#arrow-25-icon {
    display: none;
}

.nm-shop-search-inner.prehaff-search #ajaxsearchpro1_1 {
    border-radius: 9px;
}

.nm-shop-search-inner.prehaff-search #ajaxsearchpro1_1 input.orig {
    color: #93999d;
    font-size: 14px;
    padding-top: 0 !important;
}


/* Responsive styles */

@media (max-width: 1024px) {
    div#ajaxsearchpro1_1 {
        width: 220px;
        border: none;
        background-color: #fff;
        border-radius: 30px !important;
    }
}

@media (max-width: 880px) {
    .nm-shop-search-inner {
        margin-left: 30px;
        margin-bottom: 0px;
    }
    .nm-header {
        line-height: 50px !important;
        padding-top: 0px !important;
        padding-bottom: 0px !important;
    }
    .nm-header-placeholder {
        height: 50px !important;
    }
}

@media (max-width: 768px) {
    img.nm-logo {
        width: 90%;
        height: auto !important;
    }
    .list-post .su-post-meta,
    .list-post .su-post-excerpt,
    .list-post .su-post-comments-link {
        display: none;
    }
    .su-posts-default-loop .su-post {
        margin-bottom: 10px !important;
    }
    .su-posts-default-loop h2.su-post-title {
        font-weight: normal !important;
        font-size: 16px !important;
        height: 70px;
        overflow: hidden;
    }
    .su-posts-default-loop .su-post-thumbnail {
        height: 70px !important;
        overflow: hidden;
    }
    .su-posts-default-loop .su-post-thumbnail img {
        max-height: 70px !important;
    }
    .nm-header-placeholder {
        height: 50px !important;
    }
    a#nm-mobile-menu-button {
        background: #fa0000;
        padding: 7px;
    }
    .nm-header-inner {
        background-color: #464646;
    }
    /* Hide chat box */
    #tawkchat-minified-wrapper {
        display: none;
    }
    .rectangle #tawkchat-status-text-container {
        display: none !important;
    }
}


/* Hide chat box */

#tawkchat-minified-wrapper {
    display: block;
}

.rectangle #tawkchat-status-text-container {
    display: block;
}

#i-mobile-top-header {
    display: none;
}

#desktop-header {
    display: block;
}

@media (max-width: 769px) {
    #desktop-header {
        display: none;
    }
    #i-mobile-top-header {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: wrap;
    }
    div#ajaxsearchpro1_1 {
        width: 100%;
        border-radius: 30px !important;
    }
    .nm-shop-search-inner {
        margin-left: 15px;
        margin-bottom: 0;
        width: 100%;
        margin-top: 60px;
        padding: 0 10px;
        flex-grow: 1;
    }
    .prehaff-search .select2-container {
        width: 100% !important;
    }
    .prehaff-search .select2-container--default .select2-selection--single {
        width: 100% !important;
        margin-bottom: 10px;
    }
    .logo-mobile img {
        width: 30% !important;
        position: absolute;
        left: 32%;
        top: 0px;
    }
    .nm-right-menu {
        margin-right: 0;
    }
}

@media (max-width: 769px) and (min-width: 476px) {
    .nm-shop-search-inner {
        margin-top: 110px !important;
    }
}

@media (max-width: 480px) {
    .navaccessories a {
        float: left;
        overflow: hidden;
        width: 25% !important;
        text-align: center;
        height: 90px;
        margin-bottom: 5px;
        text-decoration: none;
        margin: 0;
    }
    .box-choose-right,
    .box-choose-left {
        text-align: center;
    }
    .image-left-content,
    .image-right-content {
        float: none !important;
    }
    .left-content,
    .right-content {
        margin: 0 !important;
    }
    .sticky {
        position: fixed !important;
        top: 0;
        width: 100%;
        z-index: 999999 !important;
    }
    .logo-mobile img {
        width: 35% !important;
    }
    .prehaff-top-header.sticky {
        min-height: 60px;
    }
}

.prehaff .w3-modal {
    z-index: 100001;
}

.prehaff .w3-modal header,
.prehaff .w3-modal footer {
    padding: 15px;
}

.prehaff .w3-modal .w3-container {
    padding: 10px;
}

.prehaff .w3-modal .w3-container label {
    font-weight: 600;
}

.prehaff .w3-modal p {
    margin-bottom: 0;
}

.prehaff .w3-modal .banking-info {
    display: none;
}

.prehaff .w3-modal h2 {
    color: #fff;
    text-align: center;
}

.prehaff .w3-modal h2 span {
    width: 100%;
    display: block;
}

.prehaff .w3-modal h2 span.main-title {
    font-weight: 600;
}

.prehaff .w3-modal h2 span.sub-title {
    font-size: 24px;
}

.nm-footer {
    margin-top: 0;
}

.nm-footer-bar-inner {
    background: #eee !important;
    color: #fff;
    padding-top: 15px;
    padding-bottom: 10px;
}

#nm-footer h3.footer__title {
    margin: 10px 0 20px;
    text-transform: uppercase;
    border-bottom: 2px solid #f00e0f;
    padding-bottom: 10px;
    position: relative;
    margin-top: 0;
    font-weight: 700;
    font-size: 16px;
    color: #000000;
    text-align: left;
}

#nm-footer .footer__title:before {
    content: "";
    border-bottom: 2px solid #000;
    width: 100px;
    position: absolute;
    top: 32px;
    left: 0;
}

#nm-footer a {
    color: #f00e0f;
    line-height: 25px;
    font-size: 14px;
}

#nm-footer .footer__content {
    text-align: justify;
    line-height: 1.8;
    min-height: 145px;
    font-size: 13px;
}

#nm-footer .footer__content li {
    list-style: aliceblue;
}

#nm-footer ul.list-item {
    padding-left: 40px;
    list-style-type: disc;
}

#nm-footer ul.list-item li {
    list-style: unset;
    color: #000;
}

.prehaff-copyright .copyright-title {
    font-size: 15px;
    color: #f00e0f;
    font-weight: 600;
    line-height: 21px;
}

.prehaff-copyright .description {
    font-size: 12px;
    color: #000;
    line-height: 17px;
}

.prehaff .image-product {
    margin-top: 15px;
}

.prehaff .info-wrapper {
    margin-top: 15px;
    font-size: 13px;
}

.prehaff .label-price,
.prehaff .short-description {
    margin-bottom: 15px;
}

.prehaff table {
    margin-top: 15px !important;
}

.prehaff table td {
    text-align: center;
    padding: 0px !important;
    padding-bottom: 5px !important;
}

.prehaff table tr span strong {
    font-size: 14px;
    font-weight: 500;
}

.prehaff table tr p {
    line-height: 15px;
}

.prehaff table tr p span strong {
    font-size: 13px;
    font-weight: 500;
}

.prehaff table tr {
    background: #fff;
}

.prehaff table tbody tr {
    background: #fff;
}

.prehaff table tr:first-child span strong {
    font-size: 14px;
    font-weight: 600;
}

.w3-modal .product-info .image-wrapper {
    width: 100px;
    float: left;
}

.w3-modal .product-info .info-wrapper {
    float: left;
}

.w3-modal .product-info .basic:after {
    content: "Foo";
    visibility: hidden;
    display: block;
    height: 0px;
    clear: both;
}

.w3-col.product-info {
    border-bottom: 1px solid #cacaca;
}

.w3-modal .product-info .price-wrapper {
    margin-top: 10px;
    overflow: scroll;
}

.w3-modal .product-info .price-wrapper h3 {
    margin-bottom: 20px;
    text-align: center;
    color: #ee2e2e;
}

@media (min-width: 768px) {
    .buttons-wrapper .col-sm-6.btn-left {
        padding-right: 5px;
    }
    .buttons-wrapper .col-sm-6.btn-right {
        padding-left: 5px;
    }
}

@media (max-width: 767px) {
    .col-sm-6,
    .col-sm-4 {
        margin-top: 5px;
    }
    #reviews .commentlist li .comment-text .star-rating {
        top: -15px;
    }
    .prehaff.page-detail .title-wrapper .entry-title {
        font-size: 25px;
    }
    .prehaff.page-detail .title-wrapper .nm_column {
        padding-bottom: 10px;
    }
    .prehaff-float-icon.prehaff-chat-fb {
        display: none;
    }
    .prehaff .prehaff-sidebar-block {
        margin-top: 0px;
    }
}

#nm-footer ul.list-item li p {
    margin: 5px 0;
    line-height: 25px;
    font-size: 14px;
}

div#histats_counter {
    position: fixed;
    bottom: 10px;
    left: 20px;
    z-index: 99999;
    display: none;
}

.hlam-alo-phone {
    z-index: 99999;
    display: block;
    left: 0;
    display: none;
}


/* page main categories */

div#prehaff-main-category {
    padding-top: 30px;
    padding-bottom: 30px;
}

div#prehaff-main-category .information-sgs {
    position: relative;
}

div#prehaff-main-category .information-sgs .overflow-wrapper {
    position: absolute;
    bottom: 20px;
    left: 0px;
    padding: 10px 30px;
}

div#prehaff-main-category .information-sgs .overflow-wrapper h4 {
    font-size: 16px;
    text-align: center;
    color: #fff;
    font-weight: 600;
}


/* page sub category */

#prehaff-sub-category #category-title h2 {
    font-weight: 600;
    line-height: 50px;
    margin-bottom: 20px;
}

#prehaff-sub-category {
    padding-top: 30px;
    padding-bottom: 30px;
}

#prehaff-sub-category #category-description {
    padding-bottom: 15px;
}

#prehaff-sub-category table {
    width: 100%;
    border: 1px solid;
}

#prehaff-sub-category table tbody tr {
    border-bottom: 1px solid;
}

#prehaff-sub-category table tbody tr td {
    height: auto !important;
    padding: 0px !important;
    border-right: 1px solid;
}

#prehaff-sub-category table tbody tr td {
    line-height: 35px;
    padding-left: 10px !important;
    border: 1px solid #ccc !important;
}

#prehaff-sub-category table tbody tr td strong span {
    line-height: 40px;
    font-size: 15px;
}

#category-products .filters {
    line-height: 30px;
    font-size: 14px;
}

#category-products .filters::before,
#category-products .filters::after {
    display: inline-block;
    content: "";
}

#category-products .filters::after {
    clear: both;
}

#category-products .filters div {
    float: left;
    margin-right: 10px;
    font-weight: 600;
}

#category-products .filters div a {
    font-size: 16px;
}

#category-products .filters div a:hover,
#category-products .filters div a.active {
    color: #ff6346;
}

#category-products .filters div select {
    padding: 3px 10px;
    padding-right: 20px;
    line-height: 26.4px;
}

#category-products .filters div input {
    padding: 5px;
    width: 70px;
}

#products .product-grid .product-grid {
    overflow: hidden;
    position: relative;
    background-color: #ffffff;
}

#products .product-grid .products-block {
    border-bottom: 1px solid #ebeef2;
}

.product-grid .description,
.product-grid .price-tax {
    display: none;
}

#products .products-block {
    overflow: hidden;
    border-top: 1px solid #ebeef2;
    margin: 5px 0;
}

#products .product-cols {
    border-right: 1px solid #ebeef2;
}

#products .product-items {
    border-bottom: 1px solid #ebeef2;
    margin: 0;
}

.product-cols.last,
.product-cols:last-child {
    border-right: none;
}

#products .product-block {
    position: relative;
    padding: 10px 0;
    margin: 0;
}

#products .product-block .image {
    display: block;
    position: relative;
    overflow: hidden;
    text-align: center;
    margin-bottom: 10px;
    border: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    border-radius: 0px;
    height: 150px;
}

#products .product-block .img {
    -webkit-transition: left 0.7s cubic-bezier(0.75, 0, 0.175, 1);
    transition: left 0.7s cubic-bezier(0.75, 0, 0.175, 1);
}

#products .product-meta {
    min-height: 95px;
    padding: 5px;
}

#products .product-block .name {
    text-transform: none;
    margin: 0;
    min-height: 36px;
    height: 36px;
    height: auto !important;
    line-height: 18px;
}

#products .product-block .price {
    margin-bottom: 5px;
    margin-top: 5px;
}

#products .price {
    color: #f05423;
    font-size: 15px;
    font-weight: 600;
}

.product-block .name a:hover {
    color: #ff6346;
}

.product-block .name a {
    color: #3e474b;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    display: inline-block;
    *display: inline;
    zoom: 1;
    text-overflow: ellipsis;
    overflow: hidden;
    width: auto;
    height: 36px;
}

#products .product-list {
    background-color: #ffffff;
    overflow: hidden;
}

.product-list .product-cols {
    border-right: none;
    border-bottom: 1px solid #ebeef2;
}

.product-list .col-fullwidth {
    width: 100%;
    float: none;
    margin: 0;
}

.product-list .product-block {
    overflow: hidden;
    padding: 20px 10px;
}

.product-list .image img {
    padding: 0;
    border: 0;
}

.product-list .image {
    float: left;
    margin-right: 18px;
    margin-bottom: 0;
    text-align: center;
    width: 200px;
}

.product-list .product-meta {
    padding: 0;
    overflow: hidden;
    min-height: inherit;
}

.product-list .name {
    min-height: 20px;
}

.product-list .description {
    display: block;
}

.product-list .action {
    margin-top: 15px;
}

.img-responsive {
    display: block;
    height: auto;
    max-width: 200px;
}

#products .img-responsive {
    width: auto;
    max-width: unset;
    height: 100%;
}

@media (max-width: 767px) {
    .img-responsive {
        display: inline-block;
    }
}

@media (max-width: 480px) {
    .product-list .image {
        float: none;
        width: 100%;
    }
}

#products .product-list+.pagination {
    border-top: 0;
}

#products .pagination {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    display: block;
    margin: 0;
    padding: 10px;
    background-color: #ffffff;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.pagination .links {
    float: left;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #ebeef2;
}

.links {
    margin: 0;
    padding: 0;
}

.pagination .links a,
.pagination .links b {
    display: inline-block;
    *display: inline;
    zoom: 1;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    border-radius: 0px;
    width: 20px;
    height: 30px;
    -webkit-transition: background-color 350ms ease-in;
    transition: background-color 350ms ease-in;
    padding: 0;
    line-height: 30px;
    text-decoration: none;
    margin: 0 3px 0 0;
    text-align: center;
    font-weight: normal;
    color: #aa8255;
}

a {
    cursor: pointer;
    outline: none;
}

.pagination .links b {
    color: #ff6346;
    margin-left: 10px;
}

.pagination .results {
    float: right;
    color: #333;
}

#category-products {
    position: relative;
    min-height: 300px;
}

#category-products .loading-indicator-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

#loading-indicator {
    position: relative;
    line-height: 1.7;
    background: rgba(0, 0, 0, 0.3);
}

.nm-right-menu {
    float: left;
    margin-right: -16px;
}

.prehaff .sidebar_stores .detail-address-item .hotline a.google-map-modal {
    color: #288ad6;
    font-weight: 500;
    margin-left: 10px;
}

button.btn.btn-rest {
    border-radius: 0px;
    padding: 0;
    line-height: 38px;
    font-weight: 400;
}

.w3-col.call-me-input {
    width: 65% !important;
}

div#histats_counter {
    display: none;
}

.prehaff-top-menu {
    /* display: none; */
    text-align: center;
}

.prehaff-search .select2-container {
    float: right;
}

.prehaff-search .select2-container--default .select2-selection--single {
    padding: 5px 55px 5px 10px;
    background-color: #fff;
    height: 40px;
    border-radius: 9px;
    width: 232px;
}

.prehaff-search .select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 30px;
}

.prehaff-search .select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 40px;
    right: 5px;
    display: flex;
    align-items: center;
}

#select2-search-post {
    width: 232px;
    float: right;
}

.list-cate {
    margin-top: 30px;
}

.why-choose-us {
    margin-top: 30px;
}

section#service-section {
    margin-top: 30px;
}

.list-post {
    margin-top: 30px;
}

section#service-section .service-item h3 {
    line-height: 1.3em;
    font-size: 14px;
    color: #333;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

section#service-section .service-item .contact-link {
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
    font-size: 14px;
    color: #e10c00;
    line-height: 15px;
}

section#service-section .service-item a img {
    display: block;
    width: auto;
    height: 180px;
    margin: 0 auto;
}

div#service-slider-wrap {
    position: relative;
}

div#service-slider-wrap .owl-buttons {
    position: absolute;
    top: 24%;
    transform: translateY(-24%);
    height: 0;
    width: 100%;
    display: block;
    z-index: 9;
    cursor: pointer;
}

#service-slider-wrap #service-action .owl-prev {
    position: absolute;
    left: 0;
    margin: 0;
    border-radius: 0 5px 5px 0;
    background: #fff;
    width: 40px;
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    color: #999;
    font-family: -webkit-body;
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.15);
    top: 50%;
    transform: translatey(-50%);
}

#service-slider-wrap #service-action .owl-next {
    position: absolute;
    right: 0;
    margin: 0;
    border-radius: 5px 0 0 5px;
    background: #fff;
    width: 40px;
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    color: #999;
    font-family: -webkit-body;
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.15);
    top: 50%;
    transform: translatey(-50%);
}

.service-item a {
    display: block;
    z-index: 1;
}

@media (max-width: 991px) {
    #nm-footer h3.footer__title {
        margin-top: 10px;
    }
}


/* Detail Page - Box Promotion */

.prehaff.page-detail .detail-promotion {
    position: relative;
    margin-top: 20px;
    margin-bottom: 10px;
    border: 1px solid #aaa;
    border-radius: 5px;
    padding: 10px;
    padding-top: 15px;
}

.prehaff.page-detail .detail-promotion .title-box {
    position: absolute;
    top: -7px;
    left: 10px;
    background: #fff;
    font-size: 13px;
    line-height: 13px;
    font-weight: 600;
    color: #000;
}


/* Detail Page - Ver 2 */

body .vc_row,
body .wpb_content_element,
body.wpb-js-composer .vc_tta-container {
    margin-bottom: 5px;
}

.prehaff-custom-detail-v2 .gift {
    border-bottom: 1px solid #f5bfb8;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 10px;
    background-color: #fff6f6;
}

.prehaff-custom-detail-v2 .gift>.title {
    margin-left: -25px;
    margin-right: -25px;
    height: 40px;
    margin-top: -1px;
    border-top: 3px solid #f83015;
    color: #f83015;
    padding-left: 15px;
    font-size: 14px;
    font-weight: 600;
    line-height: 40px;
}

.prehaff-custom-detail-v2 .gift .content {
    margin: 0px;
    color: #f83015;
    line-height: 28px;
    font-size: 14px;
    margin-left: -20px;
}

.prehaff-custom-detail-v2 .wpb_content_element a {
    color: #1e73be;
}

.prehaff-custom-detail-v2 .wpb_content_element a:hover,
a:active {
    color: #f5a72c;
}

.prehaff-custom-detail-v2 .wpb_content_element p strong {
    font-size: 16px;
}

.prehaff-custom-detail-v2 .wpdt-c .wpDataTables.wpDataTablesWrapper {
    position: relative !important;
}

.prehaff-custom-detail-v2 .wpDataTablesWrapper {
    margin-bottom: 20px;
}

.prehaff-custom-detail-v2 .wpdt-c .wpDataTablesWrapper table {
    position: relative;
}

.prehaff-custom-detail-v2 .wpDataTablesWrapper table.wpDataTable {
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0;
    clear: both;
    margin: 0 auto;
    width: 100%;
    table-layout: auto;
    margin-bottom: 10px;
    overflow: auto;
}

.prehaff-custom-detail-v2 .wpDataTablesWrapper table.wpDataTable td {
    padding: 3px 10px !important;
}

.prehaff-custom-detail-v2 .content_body {
    padding: 5px;
    margin-bottom: 20px;
}

.prehaff-custom-detail-v2 p,
.prehaff-custom-detail-v2 div,
.prehaff-custom-detail-v2 .mc4wp-form-fields label,
.prehaff-custom-detail-v2 .woocommerce .products .product .short-description,
.prehaff-custom-detail-v2 ul li .ts-megamenu-container,
.prehaff-custom-detail-v2 .comment-text,
.prehaff-custom-detail-v2 .shopping-cart-wrapper .ts-tiny-cart-wrapper,
.prehaff-custom-detail-v2 .woocommerce .order_details li,
.prehaff-custom-detail-v2 .woocommerce table.my_account_orders td,
.prehaff-custom-detail-v2 .comment_list_widget .comment-body,
.prehaff-custom-detail-v2 #bbpress-forums,
.prehaff-custom-detail-v2 .woocommerce ul.products li.product .price del,
.prehaff-custom-detail-v2 .woocommerce ul.products li.product .price,
.prehaff-custom-detail-v2 .shopping-cart-wrapper .form-content>label,
.prehaff-custom-detail-v2 .widget_calendar th,
.prehaff-custom-detail-v2 .widget_calendar td,
.prehaff-custom-detail-v2 .woocommerce .widget-container .price_slider_amount .price_label,
.prehaff-custom-detail-v2 #ts-search-result-container ul li a,
.prehaff-custom-detail-v2 #ts-search-result-container .view-all-wrapper a,
.prehaff-custom-detail-v2 body .rev_slider_wrapper .rev-btn.ts-button,
.prehaff-custom-detail-v2 #lang_sel_click>ul li a,
.prehaff-custom-detail-v2 .wpml-ls>ul>li.wpml-ls-item a,
.prehaff-custom-detail-v2 .header-currency ul li a,
.prehaff-custom-detail-v2 select option,
.prehaff-custom-detail-v2 .woocommerce-product-rating .woocommerce-review-link,
.prehaff-custom-detail-v2 .woocommerce #reviews #comments ol.commentlist li .comment-text p.meta,
.prehaff-custom-detail-v2 .yith-wcwl-share h4.yith-wcwl-share-title,
.prehaff-custom-detail-v2 .woocommerce-cart .cart-collaterals .cart_totals table td,
.prehaff-custom-detail-v2 .woocommerce-cart .cart-collaterals .cart_totals table th,
.prehaff-custom-detail-v2 .woocommerce table.wishlist_table,
.prehaff-custom-detail-v2 body table.compare-list tr.image td,
.prehaff-custom-detail-v2 body table.compare-list tr.price td,
.prehaff-custom-detail-v2 h3>label,
.prehaff-custom-detail-v2 body.wpb-js-composer .vc_tta.vc_general,
.prehaff-custom-detail-v2 header.ts-header .header-v3 .menu-wrapper .ts-menu,
.prehaff-custom-detail-v2 .dokan-category-menu .sub-block h3,
.prehaff-custom-detail-v2 .woocommerce table.shop_table.my_account_orders,
.prehaff-custom-detail-v2 .feature-content .feature-excerpt,
.prehaff-custom-detail-v2 .testimonial-content .byline,
.prehaff-custom-detail-v2 .testimonial-content .content,
.prehaff-custom-detail-v2 #bbpress-forums div.bbp-forum-title h3,
.prehaff-custom-detail-v2 #bbpress-forums div.bbp-topic-title h3,
.prehaff-custom-detail-v2 #bbpress-forums div.bbp-reply-title h3,
.prehaff-custom-detail-v2 body table.compare-list,
.prehaff-custom-detail-v2 body table.compare-list tr.title td {
    font-size: 16px;
    line-height: 25px;
}

.prehaff-custom-detail-v2 .unbox {
    padding: 15px;
    border: 1px dashed #7ab34c;
    border-radius: 4px;
    background-color: #f1f9f7;
}

.prehaff-custom-detail-v2 .unbox .un_title {
    font-weight: bold;
    padding: 10px 0px;
    color: #1d9d74;
}

.prehaff-custom-detail-v2 .unbox img {
    margin: 5px 0px;
}

.prehaff-custom-detail-v2 .woocommerce-tabs.accordion-tabs {
    border: 0px;
}

.prehaff-custom-detail-v2 .w3-input {
    font-size: 14px;
}

.action-footer {
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    color: #fff;
    width: 100%;
    z-index: 500;
}

.action-footer .col-sm-4 {
    padding: 0;
    width: 33.3%;
    float: left;
}

.action-footer .action-footer-item a {
    color: #fff;
    height: 52px;
    line-height: 52px;
    display: block;
    text-align: left;
    width: 100%;
    margin-top: 0px;
}

.action-footer .action-footer-item a i {
    font-size: 30px;
    margin-top: 10px;
    float: left;
    margin-left: 15px;
    margin-right: 5px;
}

.c-call-now.action-footer-item {
    background: rgba(93, 168, 36, 0.7);
    /* color: #69be28 !important; */
}

.c-messager.action-footer-item {
    background: rgba(0, 77, 255, 0.7);
    /* color: #0075ff !important; */
}

.c-address.action-footer-item {
    background: rgba(255, 14, 15, 0.7);
    /* color: #f00e0f !important; */
}


/* .c-call-now.action-footer-item a {
  color: #69be28!important;
}

.c-messager.action-footer-item a {
  color: #0075ff!important;
}

.c-address.action-footer-item a {
  color: #F00E0F!important;
} */

.nj-facebook-messenger {
    background-color: rgba(0, 0, 0, 0) !important;
}

.c-messager.action-footer-item a img {
    margin-top: 10px;
    width: 28px;
    float: left;
    margin-left: 15px;
    margin-right: 5px;
}

.menu-direct {
    display: none;
}

.show {
    display: block !important;
}

.menu-direct {
    background: #fafafa;
    color: #333;
    margin-bottom: -5px;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
}

.w3-display-topright {
    background: transparent;
    color: #fff;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
}

@media (max-width: 768px) {
    .action-footer {
        display: block;
    }
    .prehaff-copyright {
        margin-bottom: 52px;
    }
    #i-mobile-top-header #nm-mobile-menu-button {
        position: absolute;
        top: 50%;
        left: 10px;
        margin-top: 5px;
    }
    #nm-header {
        display: none;
    }
    #nm-header-placeholder {
        display: none;
    }
    .container.prehaff-top-header {
        position: relative;
        z-index: 2;
    }
    .hlam-alo-phone {
        display: none;
    }
    .sticky {
        position: fixed !important;
        top: 0;
        width: 100%;
        z-index: 500 !important;
    }
    #nm-mobile-menu {
        z-index: 9999999;
        height: 100%;
    }
}

@media (max-width: 400px) {
    .hlam-alo-phone {
        bottom: 200px !important;
    }
}

.thing {
    bottom: 60px;
}

.thing.showContent {
    top: 0px;
    bottom: unset;
}

.fb-comments iframe {
    width: 100% !important;
}

.prehaff table thead tr {
    background: #eee;
}

.prehaff table thead tr th {
    border: 1px solid #ccc !important;
}

.nj-facebook-messenger {
    padding: 0px !important;
    padding-left: 50px !important;
}

#nm-mobile-menu-close-button {
    position: absolute;
    padding: 5px 2px !important;
    background: red;
    top: 15px;
    left: 15px;
}

@media (max-width: 2045px) {
    .nm-footer-bar {
        position: relative;
        z-index: unset;
    }
}

.btn-close-direct {
    width: 25px;
    background: #ccc;
    height: 25px;
    text-align: center;
    border-radius: 50%;
    margin-bottom: 15px;
}

.drag-wrapper .thing .content {
    left: 0px;
    right: unset;
}

@media (max-width: 768px) {
    .drag-wrapper .thing {
        display: none;
    }
}

.prehaff .slick-slide {
    z-index: 499 !important;
}


/* CSS Modal Order Fixing */

.prehaff .w3-modal table {
    width: 100%;
    margin-bottom: 20px !important;
    border: 1px solid #ccc;
    color: #333 !important;
}

.prehaff .w3-modal table thead tr {
    background: transparent !important;
    line-height: 30px;
}

.prehaff .w3-modal table thead tr th {
    text-align: center;
    font-weight: 600;
}

.prehaff .w3-modal table tbody tr {
    border-bottom: 1px solid #ccc;
}

.prehaff .w3-modal table tr td {
    border-right: 1px solid #ccc;
    line-height: 30px;
    padding-bottom: 0px !important;
    min-width: 120px;
}

.prehaff .w3-modal table tr td:first-child {
    font-weight: 600;
}

.prehaff .order-form .w3-modal .w3-half,
.prehaff .order-form .w3-modal .w3-col {
    margin-bottom: 10px;
}

.prehaff .order-form .w3-modal .w3-select {
    padding: 0px;
}

.prehaff .btn-order-fixing {
    margin-top: 10px;
}

@media (max-width: 465px) {
    .prehaff .w3-modal h2 {
        font-size: 20px;
    }
    .prehaff .info-wrapper h3 {
        font-size: 20px;
        text-align: center;
    }
    .prehaff .w3-modal table thead tr th {
        font-size: 14px;
    }
    .prehaff .w3-modal table tr td {
        font-size: 12px;
    }
    .prehaff .w3-modal .product-info .image-wrapper {
        width: 100%;
        height: 150px;
        text-align: center;
    }
    .prehaff .w3-modal .product-info .image-wrapper img {
        height: 100%;
    }
    .prehaff.page-detail .title-wrapper .entry-title {
        font-size: 18px;
        line-height: 25px;
        margin-bottom: 10px;
        width: 100%;
    }
    .prehaff.page-detail .title-wrapper .kk-star-ratings div {
        margin-top: -5px !important;
    }
    .prehaff-sidebar-block {
        display: none;
    }
    .prehaff .btn-order-fixing {
        margin-top: 5px;
    }
}

#prehaff-main-category .img-responsive {
    max-width: 100%;
}

#prehaff-main-category img {
    /* box-shadow: 6px 6px 6px #eee; */
    margin-bottom: 20px;
}

.prehaff .mobile-block {
    margin-bottom: 5px;
}

.prehaff-sidebar-block .widget_nav_menu {
    border: 0px;
    padding: 0px;
    margin: 0px;
}

.prehaff-sidebar-block .widget ul li a {
    color: #333;
}

@media (min-width: 466px) {
    .prehaff .nm-header-col {
        text-align: center;
    }
    .prehaff .nm-header.stacked .nm-main-menu {
        float: none;
        margin: 0px;
    }
    .prehaff .nm-menu li a {
        padding: 16px 30px;
    }
    .prehaff .nm-menu ul.sub-menu {
        text-align: left;
    }
    .prehaff .prehaff-float-icon {
        position: fixed;
        left: 185px;
        bottom: 60px;
        width: 50px;
        height: 50px;
        z-index: 1;
        background-color: #f00e0f;
        padding: 7px;
        border-radius: 50%;
    }
}

.prehaff .sidebar_stores .detail-address-item p {
    font-size: 13px;
}